/* stylelint-disable selector-list-comma-newline-after */

@import url('https://fonts.googleapis.com/css?family=Teko|Sanchez&display=swap');

body{
    font-family: "Sanchez";
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    color:#000000;
}
body p{
    font-size:19px;
}
.card-flex{
    display: flex;
    position: relative;
    border-bottom: solid 1px #707070;
}
.blog-header {
    line-height: 1;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}
ul#menu-left-menu{
    list-style: none;
    padding: 0;
}
ul#menu-left-menu li{
    margin: 10px 0;
}

ul#menu-left-menu li a{
    color: #ffffff;
    background-color: #000000;
    display: block;
    text-align: center;
    padding:7px 5px;
}
ul#menu-left-menu li.current-menu-item a{
    color: #ffffff;
    text-decoration: underline;
}
.post-wrapper .read-more{
    color:red;
}
.post-wrapper ul.post-categories{
    margin: 0;
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0;
    font-size: 14px;
}
.post-wrapper ul.post-categories li{
    float: left;
    position: relative;
    padding: 0 5px 0 0px;
    line-height: 0.7;
}
.post-wrapper ul.post-categories li:not(:first-child):before{
    content:" | ";
}
.post-wrapper ul.post-categories li a {
    color:#000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Teko";
    color:#000000;
}
h1{
    font-size:50px;
}

h2{
    font-size:40px;
}
.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    opacity: 0.7;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}